body {
    background-color: #ecede8;
}

.bg-light {
    background-color: #ecede8 !important;
}

.center-chart {
    margin: 0 auto;
}

.rhombusone {
    width: 100px;
    height: 100px;
    background-color: #fc808e;
    -webkit-transform: rotate(45deg);
    border-radius: 13px;
    margin: 0 auto;
}

.rhombusone p {
    -webkit-transform: rotate(-45deg);
    text-align: center;
    line-height: 100px;
}

.rhombustwo {
    width: 100px;
    height: 100px;
    background-color: #779ec9;
    -webkit-transform: rotate(45deg);
    border-radius: 13px;
    margin: 0 auto;
}

.rhombustwo p {
    -webkit-transform: rotate(-45deg);
    text-align: center;
    line-height: 100px;
}

.rhombusthree {
    width: 100px;
    height: 100px;
    background-color: #75bab9;
    -webkit-transform: rotate(45deg);
    border-radius: 13px;
    margin: 0 auto;
}

.rhombusthree p {
    -webkit-transform: rotate(-45deg);
    text-align: center;
    line-height: 100px;
}

.center {
    /*centering*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 68px;
    color: white;
    font-weight: 300;
}

.spacing-top {
    margin-top: 70px;
}

.rhombus-name {
    text-align: center;
    padding: 20px 0px;
    font-weight: 300;
    color: #9c9c9c;
    font-size: 23px;
}

.chart-name {
    text-align: center;
    padding: 40px 0px;
    font-weight: 300;
    color: #4a4a4a;
}

.nav-title {
    font-weight: 300;
    color: #585858;
    font-size: 28px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    font-size:
}

.navbar-toggler-icon {
    font-size: 32px;
}

body {
    background-color: #ecede8;
}

.bg-light {
    background-color: #ecede8 !important;
}

.center-chart {
    margin: 0 auto;
}

.rhombusone {
    width: 100px;
    height: 100px;
    background-color: #fc808e;
    -webkit-transform: rotate(45deg);
    border-radius: 13px;
    margin: 0 auto;
}

.rhombusone p {
    -webkit-transform: rotate(-45deg);
    text-align: center;
    line-height: 100px;
}

.rhombustwo {
    width: 100px;
    height: 100px;
    background-color: #779ec9;
    -webkit-transform: rotate(45deg);
    border-radius: 13px;
    margin: 0 auto;
}

.rhombustwo p {
    -webkit-transform: rotate(-45deg);
    text-align: center;
    line-height: 100px;
}

.rhombusthree {
    width: 100px;
    height: 100px;
    background-color: #75bab9;
    -webkit-transform: rotate(45deg);
    border-radius: 13px;
    margin: 0 auto;
}

.rhombusthree p {
    -webkit-transform: rotate(-45deg);
    text-align: center;
    line-height: 100px;
}

.center {
    /*centering*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 68px;
    color: white;
    font-weight: 300;
}

.spacing-top {
    margin-top: 70px;
}

.rhombus-name {
    text-align: center;
    padding: 20px 0px;
    font-weight: 300;
    color: #9c9c9c;
    font-size: 23px;
}

.chart-name {
    text-align: center;
    padding: 40px 0px;
    font-weight: 300;
    color: #4a4a4a;
}

.nav-title {
    font-weight: 300;
    color: #585858;
    font-size: 28px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    font-size:
}

.navbar-toggler-icon {
    font-size: 32px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    margin: 0 8px;
}



.navbar-light .navbar-toggler-icon
{
    background-image: url('menu.png');
    height: 38px;
}



.hexagon {
  position: relative;
  width: 19px; 
  height: 10.97px;
  background-color: #ecede8;
  margin: 5.48px 0;
  border-left: solid 2px #f79aac;
  border-right: solid 2px #f79aac;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 13.44px;
  height: 13.44px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 0.7825px;
}

.hexagon:before {
  top: -6.7175px;
  border-top: solid 2.8284px #f79aac;
  border-right: solid 2.8284px #f79aac;
}

.hexagon:after {
  bottom: -6.7175px;
  border-bottom: solid 2.8284px #f79aac;
  border-left: solid 2.8284px #f79aac;
}

.hexagon {
  position: relative;
  width: 19px; 
  height: 10.97px;
  background-color: #ecede8;
  margin: 5.48px 0;
  border-left: solid 2px #f79aac;
  border-right: solid 2px #f79aac;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 13.44px;
  height: 13.44px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 0.7825px;
}

.hexagon:before {
  top: -6.7175px;
  border-top: solid 2.8284px #f79aac;
  border-right: solid 2.8284px #f79aac;
}

.hexagon:after {
  bottom: -6.7175px;
  border-bottom: solid 2.8284px #f79aac;
  border-left: solid 2.8284px #f79aac;
}

/*hexagon active*/


.hexagonactive {
  position: relative;
  width: 19px; 
  height: 10.97px;
  background-color: #f79aac;
  margin: 5.48px 0;
  border-left: solid 2px #f79aac;
  border-right: solid 2px #f79aac;
}

.hexagonactive:before,
.hexagonactive:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 13.44px;
  height: 13.44px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 0.7825px;
}

.hexagonactive:before {
  top: -6.7175px;
  border-top: solid 2.8284px #f79aac;
  border-right: solid 2.8284px #f79aac;
}

.hexagonactive:after {
  bottom: -6.7175px;
  border-bottom: solid 2.8284px #f79aac;
  border-left: solid 2.8284px #f79aac;
}

hr {
    border: 0;
    border-top: 2px solid #f79aac;
    left: 17px;
    position: relative;
    top: -22px;
}



.pagination-center {
    margin: 0 auto;
    padding: 30px;
}


.pagination-center {
    margin: 0 auto;
    padding: 30px;
}